/*Gabriele Resconi 4AI stylesheet.css*/

body {
    margin: 0;
    background-image: url("./risorse/imgs/homePage_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*intestazione di ogni pagina tranne homePage*/
h1.title {
    background-image: linear-gradient(to bottom, #fdff71, yellow);
    text-align: center;
    margin-top: 0;
    padding: 20px 0 15px 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    border-bottom: #000000;
    border-style: solid;
    position: sticky;
}

/*menu verticale*/
.click-menu .opz,
.click-menu .opz-hover,
.click-menu .opz-open,
.click-menu .opz-open-hover {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    font-family: arial;
    cursor: pointer;
    padding: 10px;
    width: 150px;
}
.click-menu .section {
    background-color: #fdff71;
    font-family: arial;
    font-size: 15px;
    line-height: 15px;
    padding: 0 0 5px 10px;
    display: none;
}
.click-menu .section a {
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}
.click-menu .section a:hover {
    color: #ff0000;
    text-decoration: none;
    white-space: nowrap;
}
.click-menu .case {
    border-color: #7B6139;
    border-width: 2px;
    border-style: none none solid solid;
    padding: 1px 0 2px 6px;
}
.click-menu .case-hover {
    border-color: #7B6139;
    border-width: 1px;
    border-style: none none solid solid;
    padding: 1px 0 2px 6px;
    background: #5B4529;
}
.click-menu {
    background-color: #FFFF99;
    text-indent: 20px;
    margin: 50px 50px 50px 20px; 
    width: 10%;
    height: 10%;
    border-style: solid;
    position: fixed;
}


/*titolo HomePage*/
div.titolo-homePage {
    text-align: center;
    width: 50%;
    height: 20%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
h1.titolo-homePage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: yellow;
}


/*box1 : perche' Napoli*/
div.box1 {
    background-color: #fdff71;
    display: block;
    float: left;
    padding: 10px;
    margin: 1% 50% 10px 20%;
    width: 35%;
    height: auto;
    border-style: solid;
    border-color:#7B6139;
    position: absolute;
}

/*box1 : presentazione*/
div.box2 {
    background-color: #fdff71;
    display: block;
    padding: 10px;
    margin: 5% 25% 10px 60%;
    width: 35%;
    height: auto;
    border-style: solid;
    border-color:#7B6139;
    position: absolute;
}
h1.box2, h1.box1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p.box2, p.box1 {
    padding: 10px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


/*DOWNLOAD*/
div.scaricabili {
    background-color: #fdff71;
    text-align: center;
    width: 50%;
    height: 100%;
    margin: 50px 20px 100px 20px;
    padding: 0px 10px 30px 10px;
}
div.elementi-scaricabili {
    margin: 50px 10% 20px 10%;
    padding: 10px;
    
    display: flex;
}
img.scaricabili { 
    width: 50%; 
}

button.downloadBUTTON {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 100%;
    height: 70px;
}
div.titolo-scaricabili {
    text-align: center;
    background-color: greenyellow;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    padding: 10px;
}



/*GALLERIA*/
div.galleria {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
button#dec, button#inc {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/*CONTATTI*/
div.form {
    margin: auto;
    margin-right: 25px;
    background-color: #fdff71;
    text-align: left;
    float: right;
    padding: 30px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: gray;
}
h1.form {
    text-align: center;
}
p.form {
    margin: 0;
}
input.form {
    width: 50%;
    margin: 5px 0 5px 0;
}
div.contatti {
    margin-top: 100px;
    margin-left: 20%;
    width: auto;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    border-top: 3px;
    border-color: #000000;
    border-style: solid;
    width: 900px;
}
h1.contatti {
    padding: 10px 10px 10px 100px;
    background-image: linear-gradient(to right, #fdff71,yellow);
}
table.contatti {
    background-color: #fdff71;
    padding: 10px 10px 10px 10px;
    border-collapse: collapse;
    width: 100%;
}
th.contatti, td.contatti {
    padding: 15px;
    border: 1px;
    border-style: solid;
}
th.contatti {
    background-color: yellow;
}
a.contatti {
    text-decoration: none;
    color: black;
}
a.contatti:hover {
    text-decoration: underline;
    color: red;
}

/*INFORMAZIONI*/
thead.giornate {
    background-color: yellow; 
}
tbody.giornate {
    background-color: #fdff71;
}
table.giornate {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-collapse: collapse;
}
th.giornate, td.giornate {
    text-align: left;
    padding: 15px;
    border: 1px;
    border-style: solid;
}
a.giornate, a.giornata {
    text-decoration: none;
    color: #ff0000;
}
a.giornate:hover, a.giornata:hover {
    text-decoration: underline;
    opacity: 0.7;
}


div.giornate {
    width: 70%;
    text-align: justify;
    padding: 10px;
}


div.giornata {
    background-color: aquamarine;
    padding: 0px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
}
h1.giornata {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
}
p.giornata {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}














